h1, p {
  font-family: Lato;
}

.style-select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}